.filter__container {
    max-width: 430px;
    margin: 40px auto;
    padding: 0 20px;
}

.sermons-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.sermon-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}



.card__image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card__image--placeholder {
    width: 100%;
    height: 200px;
    background: #ccc;
}

.card__body {
    padding: 16px;
}

.card__meta {
    color: #666;
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
}

.card__date {
    font-style: italic;
    color: var(--normal-text-color);

}

.card__details--label {
    color: var(--normal-text-color);
}

.card__details--name {
    color: var(--highlight-color);
}

.card__title {
    margin-bottom: 5px;
}

.card__details {
    color: var(--normal-text-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card__details--cell {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

@media (width > 430px) {
    .sermon-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .filter__container {
        max-width: 900px;
    }

}

@media (width >=1440px) {
    .sermon-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3px;
    }
}