* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
  min-height: 100%;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-primary);
}

main {
  flex: 1;
}

hr {
  border: 0.5px solid var(--border-color);
  margin: 8px 0;
}

ul {
  width: 100vw;
  height: 90vh;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  list-style-type: none;
}

li {
  max-width: 100vw;
  max-height: 100vh;
  flex: 0 0 100%;
  scroll-snap-align: center;
}

/* Spacing utilities */
.mb1 { margin-bottom: 8px; }
.mb2 { margin-bottom: 16px; }
.mt1 { margin-top: 8px; }
.mt2 { margin-top: 16px; }
.mt3 { margin-top: 32px; }

.border-divider--right { border-right: 1px solid var(--border-color); margin: 0 8px; }

:root {
  --primary-color: #253238;
  --border-color: #ccc;
  --font-primary: 'Oswald', sans-serif;
  --white-color: #fff;
  --black-color: black;
  --highlight-color: #27C6DA;
  --normal-text-color: #546E7A;
  --warning-color: #cc3333;
  --txt-lg: 2rem;
  --txt-md: 1.7rem;
  --txt-sm: 1.3rem;
  --txt-xs: 0.9rem;
}

/* Typography utility classes */
.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-bold { font-weight: 700; }

.text-lg { font-size: var(--txt-lg); }
.text-md { font-size: var(--txt-md); }
.text-s { font-size: var(--txt-s); }
.text-xs { font-size: var(--txt-xs); }

/* COLUMN MODIFIERS */
.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* NAVIGATION BLOCK */
.navigation {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.navigation__wrapper {
  display: flex;
  padding: clamp(10px, 24px, 40px) clamp(20px, 30px, 100px);
  align-items: center;
  gap: 50px;
}

.navigation__cell--admin {
  
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navigation__cell--admin.desktop {
  display: none;
  margin-left: auto;
}

.navigation__cell--menu {
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.navigation__link {
  color: var(--primary-color);
  text-decoration: none;
}

.navigation__link--side_nav {
  color: var(--white-color);
  text-decoration: none;
  margin-left: 20px;
}

.navigation__link:hover {
  text-decoration: underline;
}

/* @media FOR NON-DESKTOP */
@media (width > 430px) {
  .navigation__cell--menu {
    display: none;
  }

  .navigation__cell--admin.desktop {
    display: flex;
  }
}


/* SIDE NAVIGATION MENU */
.side__nav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--primary-color); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-radius: 25px 0 0 25px;
  /* Prevent text from wrapping when menu transitions to hidden */
  white-space: nowrap;
  overflow: visible;

  display: flex;
  flex-direction: column;
}

.side__nav .fa-xmark {
  margin-left: 20px;
}

/* DROPDOWN BLOCK */
.navigation__dropdown {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--white-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
}

.navigation__cell--dropdown {
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  display: inline-block;
  height: 100%;
}

.navigation__dropdown a {
  display: block;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.navigation__dropdown a:not(:first-child) {
  margin-top: 5px;
}

/* Show the dropdown menu on hover */
.navigation__cell--dropdown:hover .navigation__dropdown {display: block;}

/* HEADER BLOCK */
.page-header {
  background: var(--primary-color);
  color: white;
  padding: clamp(10px, 30px, 60px) 20px;
  text-align: center;
}

.page-header__title {
  padding: 0 20px;
}


/* CARD BLOCK */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--white-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card__link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card__image {
  border-radius: 8px; /* Retains rounded corners in case image is smaller than card. */
  max-width: 100%;
}

.card__body {
    padding: 16px;
}

.card__cell {
  display: flex;
  flex-direction: column;
}

/* FORM BLOCK */
.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.form__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (width > 430px) {
  .form__row {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__group {
  margin: 0 5px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form__label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #444;
}

.form__input,
.form__select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  color: var(--normal-text-color);
}

/* BUTTON BLOCK */
.button {
  padding: 8px 18px;
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button--primary {
  background: var(--primary-color);
}

.button--danger {
  background: var(--warning-color);
}

.button--secondary {
  background: var(--border-color);
  color: var(--black-color);
}

/* FOOTER BLOCK */
.footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 30px 20px;
  width: 100%;
  height: 200px;
}

