:root {
  --primary-background: #EDEEE9; /* Use for majority of background elements and non-highlighted areas. */
  --secondary-background: #54645A; /* Use for highlighted areas or breaking up large background areas. */
  --primary-text: #323232;
}


.navbar-logo {
  font-family: "Josefin Slab", serif;
  color: var(--primary-text);
}

.nav-item {
  font-family: "Jost", sans-serif;

}

.navbar {
  background-color: var(--primary-background);
}