<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sermon Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  {% block styles %}{% endblock %}
</head>

<body>
  <div>
    <nav class="navigation__wrapper">
      <a class="navigation__link small-text--light" href="/">Home</a>
      <a class="navigation__link small-text--light" href="/sermons">Sermons</a>
      <a class="navigation__link small-text--light" href="/admin">Admin</a>
    </nav>
  </div>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div class="footer">
      <p class="tiny-text--normal">&copy; 2026 Sermon Manager. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>