<!-- Test workflow 3-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sermon Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  {% block styles %}{% endblock %}
</head>

<body>
  <div>
    <nav class="navigation__wrapper">
      <a class="navigation__link text-s font-light" href="/">Home</a>
      <div class="navigation__cell--dropdown">
        <a class="navigation__link text-s font-light">Resources</a>
        <div class="navigation__dropdown">
          <a class="navigation__link text-s font-light" href="/sermons">• All Sermons</a>
          <a class="text-s font-normal">Ongoing Series</a>
          {% for s in series %}
          <a class="navigation__link text-s font-light" href="/series/{{ s['id'] }}">• {{ s['name'] }}</a>
          {% endfor %}
        </div>
      </div>

      <!-- SIDE NAVIGATION FOR MOBILE -->
      <div class="navigation__cell--menu" onClick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div id="sideNav" class="side__nav" style="width: 0px">
        <i class="fa-solid fa-xmark fa-lg" style="color: white" onClick="toggleMenu()"></i>
        {% if current_user.is_authenticated %}
        <div class="navigation__cell--admin mt2">
          <a class="navigation__link--side_nav text-s font-light mb2" href="/admin">
            <i class="fa-regular fa-user fa-sm"></i>
            Admin
          </a>
          <div class="hr"></div>
          <a class="navigation__link--side_nav text-s font-light mb2" href="/logout">
            <i class="fa-solid fa-arrow-right-from-bracket fa-sm"></i>
            Logout
          </a>
        </div>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <div class="navigation__cell--admin mt2">
          <a class="navigation__link--side_nav text-s font-light mb2" href="/login">
            Login</a>
        </div>
        {% endif %}
      </div>
      <!-- FOR DESKTOP -->
      {% if current_user.is_authenticated %}
      <div class="navigation__cell--admin desktop">
        <a class="navigation__link text-s font-light" href="/admin">
          <i class="fa-regular fa-user fa-sm"></i>
          Admin
        </a>
        <div class="hr"></div>
        <a class="navigation__link text-s font-light" href="/logout">
          <i class="fa-solid fa-arrow-right-from-bracket fa-sm"></i>
          Logout
        </a>
      </div>
      {% endif %}
      {% if not current_user.is_authenticated %}
      <div class="navigation__cell--admin desktop">
        <i class="fa-regular fa-user fa-sm"></i>
        <a class="navigation__link text-s font-light" href="/login">Login</a>
      </div>
      {% endif %}
    </nav>
  </div>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div class="footer">
      <p class="tiny-text--normal">&copy; 2026 Sermon Manager. All rights reserved.</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='menu.js') }}"></script>
</body>

</html>