{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<div>
  <div id="carousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      {% for s in series %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          <img class="d-block w-100" src="{{ s['image_url'] }}" alt="{{ s['id'] }} slide">
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" href="carousel" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}